<!-- templates/utility/editModal.html -->
<div th:fragment="editServiceModalFragment">
	<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form th:action="@{/appliances/update}" method="post" th:object="${appliance}">
					<input type="hidden" th:field="*{id}" />
					<div class="modal-header">
						<h5 class="modal-title" id="editServiceModalLabel">Edit Appliance Services</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" th:field="*{id}" />
						<div class="mb-3">
							<label>Name</label>
							<input type="text" th:field="*{name}" class="form-control" required />
						</div>
						<div class="mb-3">
							<label>Last Service Date</label>
							<input type="date" th:field="*{lastServiceDate}" class="form-control" required />
						</div>
						<div class="mb-3">
							<label>Service Interval (in days)</label>
							<input type="number" th:field="*{serviceIntervalDays}" class="form-control" required />
						</div>
						<div class="mb-3">
							<label>Technician Name</label>
							<input type="text" th:field="*{technicianName}" class="form-control" />
						</div>
						<div class="mb-3">
							<label>Technician Phone</label>
							<input type="text" th:field="*{technicianPhone}" class="form-control" />
						</div>

						<button type="submit" class="btn btn-primary">Save Appliance</button>
						<a href="/appliances/list" class="btn btn-secondary">Back to List</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>